<% include ../partials/header %>
<div class="container">
    <h1>Edit Profile</h1>
    <hr />
    <form action="/profile" method="post">
        <div class="form-group row">
            <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="firstname" placeholder="First Name" name="firstname" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="lastname" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email Address</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="email" placeholder="Email Address" value=""
                    name="email" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="password" placeholder="Password" value=""
                    name="password" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="member" class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-8">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" value="Manager" >
                    <label class="form-check-label" for="role">
                        Manager
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" value="Software Developer" >
                    <label class="form-check-label" for="role">
                        Software Developer
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" value="Quality Assurance">
                    <label class="form-check-label" for="role">
                        Quality Assurance
                    </label>
                </div>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Type Job</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="typejob" id="typejobfulltime" value="Full Time"
                          >
                        <label class="form-check-label" for="typejobfulltime">
                            Full Time
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="typejob" id="typejobparttime" value="Part Time"
                          >
                        <label class="form-check-label" for="typejobparttime">
                            Part Time
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" name="button" class="btn btn-primary">Update</button>
                  <a href="/projects" class="btn btn-warning">Cancel</a>
    </form>
</div>
<% include ../partials/footer %>
