<% include ../partials/header%>

<div class="container">
    <h2>Add User</h2>
    <br />
    <form action="" method="POST">
        
        <!--       First Name        -->
        <div class="form-group row">
          <label for="string" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="firstname" placeholder="Input nama Project" name="firstname">
          </div>
        </div>
           <!--       Last Name        -->
           <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="lastname" placeholder="Input nama Project" name="lastname">
            </div>
          </div> 
          <!--       Last Name        -->
          <div class="form-group row">
           <label for="string" class="col-sm-2 col-form-label">Email</label>
           <div class="col-sm-6">
               <input type="email" class="form-control" id="email" placeholder="Input nama Project" name="email">
           </div>
         </div>

           <!--       Last Name        -->
           <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" placeholder="Input nama Project" name="password">
            </div>
          </div>
        <!--       Position        -->
        <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Position</label>
            <div class="col-sm-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="role" id="role" value="Manager" checked>
                  <label class="form-check-label" for="manager">
                    Manager
                  </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="role" value="Software Developer" checked>
                    <label class="form-check-label" for="softwareDeveloper">
                      Software Developer
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="role" value="Quality Assurance" checked>
                    <label class="form-check-label" for="qualityAssurance">
                      Quality Assurance
                    </label>
                  </div>
            </div>            
        </div>

         <!--       Type        -->
         <div class="form-group row">
            <label for="string" class="col-sm-2 col-form-label">Type Job</label>
            <div class="col-sm-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="typejob" id="fulltime" value="option1" checked>
                  <label class="form-check-label" for="fulltime">
                    Full Time
                  </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="typejob" id="parttime" value="option1" checked>
                    <label class="form-check-label" for="parttime">
                      Part Time
                    </label>
                  </div>
              
            </div>            
        </div>

      
            <div class="form-group row">   
                <div class="col-sm-10">    
                <button type="submit" class="btn btn-default btn-success">Save</button>
                <a href="/users" class="btn btn-warning">Cancel</a>
            </div>     
           </div> 

    
<% include ../partials/footer %>